@model User

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("/user","Users"),
    ($"/user/details/{Model.Id}",$"{Model.Id}"),
    ("","Details")
}) />

<h3 class="mt-4 mb-4">User Account Details</h3>

<div class="row">
    <!-- Details -->
    <div class="col-8 card rounded shadow p-3">
        <dl class="row">
            <dt class="col-5">First Name</dt>
            <dd class="col-7">@Model.FirstName</dd>

            <dt class="col-5">Second Name</dt>
            <dd class="col-7">@Model.SecondName</dd>

            <dt class="col-5">E mail Address</dt>
            <dd class="col-7">@Model.Email</dd>

            <dt class="col-5">Food Bank Location</dt>
            <dd class="col-7">@Model.FoodBankStreetName</dd>

        </dl>

        <div class="mt-4 d-flex flex-row justify-content-between">
            <div>

                <a asp-controller="User" 
                    asp-action="Edit" asp-route-id="@Model.Id" class="me-3">
                        <i class="bi bi-pen"></i> Edit Profile
                </a>
            </div>
        
            <div>

                <button type="button" class="btn btn-sm btn-danger"
                data-bs-toggle="modal" data-bs-target="#deleteUserModal">
                <i class="bi bi-trash"></i> Delete
                </button>
            </div>
            
        </div>
    </div>
</div>


<partial name="_DeleteModal" />

            

