@model ClientSearchViewModel

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("","Clients")
}) />


<h3 class="mb-3">List Of All Currently Registered Clients</h3>

<div class="my-4 d-flex flex-row justify-content-between align-items-center">  
   <a asp-action="Create" class="btn btn-primary btn-sm">Add New Client</a>   
   <partial name="_Search" /> <!-- add partial to search foodbanks -->
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Family Name</th>
            <th>Post code</th>
            <th>E-mail Address</th>
            <th>No. Of People</th>
            <th>Preferred Food Bank</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var c in Model.Clients)
        {
            <tr>

                <td>@c.SecondName</td>
                <td>@c.PostCode</td>
                <td>@c.EmailAddress</td>
                <td>@c.NoOfPeople</td>
                <td>@c.FoodBank.StreetName</td>
                <td>

                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="View Client Details" asp-controller="Client" asp-action="Details" asp-route-id=@c.Id>View</a>

                    <a asp-controller="Client" asp-action="Edit" asp-route-id=@c.Id>Edit</a>
                    
                    <a asp-controller="Client" asp-action="Delete" asp-route-id=@c.Id>Delete</a>
                </td>
            </tr>

        }

    </tbody>
    
</table>