
@model Parcel

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("/parcel","Parcels"),
    ($"/parcel/details/{Model.Id}",$"{Model.Id}"),
    ("","Details")
}) />

<section class="container">
    <div class="mt-4 d-flex flex-row justify-content-between">
        <div class="left-half">
            <div class="col card rounded shadow-lg p-4">

                <h3 class="mb-4">Parcel Details</h3>

                <dl class="row">

                    <dt class="col-4">Issued By</dt>
                    <dd class="col-8">@Model.User.FirstName</dd>

                    <dt class="col-4">Client Family Name</dt>
                    <dd class="col-8">@Model.Client.SecondName</dd>

                    <dt class="col-4">No Of People</dt>
                    <dd class="col-8">@Model.Client.NoOfPeople</dd>

                    <dt class="col-4">Location</dt>
                    <dd class="col-8">@Model.FoodBank.StreetName</dd>

                </dl>
            </div>
        </div> 

        <div>
                
                <div class="right half">
                    <partial name="_Items" />
                        <a asp-action="ParcelFill" asp-route-id="@Model.Id" class="me-3" type="submit">
                                <i class="bi bi-bag-plus"></i> Fill Parcel</a>

                <div class="mt-4"> 
                    <a class="btn btn-link" asp-action="Index">Cancel</a>
                            
            </div>

        </div>
    </div> 

</section>

